pandas
numpy
google-auth
db-dtypes
beautifulsoup4
requests
plotly
streamlit
lxml
scikit-learn
sastrawi
python-dotenv
google-generativeai
sqlalchemy
psycopg2-binary
transformers
torch
wordcloud
langchain
langchain-community
langchain-huggingface
langchain-core
pgvector==0.2.5
psycopg2-binary>=2.9.9
streamlit-option-menu
sentence-transformers