pandas
numpy
google-auth
db-dtypes
beautifulsoup4
requests
plotly
streamlit
lxml
scikit-learn
sastrawi
python-dotenv
google-genai
sqlalchemy>=1.4.0,<2.0.0
psycopg2-binary>=2.9.9
transformers
torch
wordcloud
langchain
langchain-community>=0.2.0
langchain-huggingface
langchain-core>=0.2.0
pgvector==0.2.5
streamlit-option-menu
sentence-transformers
groq
