pandas
numpy
google-auth
db-dtypes
beautifulsoup4
requests
plotly
streamlit
lxml
scikit-learn
sastrawi
python-dotenv
google-genai   # <-- INI YANG BENAR (Bukan google-genai)
sqlalchemy
psycopg2-binary
transformers
torch
wordcloud
langchain
langchain-community
faiss-cpu
langchain-huggingface
sentence-transformers
streamlit-option-menu